<%= for {list1, list2} <- columned_lists(@lists) do %>
  <div class="row">
    <div class="col-md-6">
      <%= render "list.html", conn: @conn, list: list1 %>
    </div>
    <%= if list2 do %>
      <div class="col-md-6">
        <%= render "list.html", conn: @conn, list: list2 %>
      </div>
    <% end %>
  </div>
<% end %>
