<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Awesome Lists<%= if title = assigns[:title], do: " | #{title}", else: "" %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand font-weight-bold" href="#">AwesomeLists</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="#">About</a>
          </div>
          <div class="navbar-nav ml-auto">
            <%= if user = current_user(@conn) do %>
              <!-- TODO: convert all to link tags -->
              <a class="nav-item nav-link active" href="<%= user_path(@conn, :edit) %>"><%= user.name %></a>
              <%= link "Sign out", to: auth_path(@conn, :sign_out), method: :delete, class: "nav-item nav-link", id: "signOut" %>
            <% else %>
              <a class="nav-item nav-link" href="<%= auth_path(@conn, :request, "identity") %>">Login</a>
              <a class="nav-item nav-link active" href="<%= user_path(@conn, :new) %>">Register</a>
            <% end %>
          </div>
        </div>
      </div>
    </nav>

    <!-- content wrapper -->
    <div class="container pt-3">
      <!-- flashes -->
      <%= if msg = get_flash(@conn, :info) do %>
        <div class="alert alert-primary" role="alert">
          <%= msg %>
        </div>
      <% end %>
      <%= if msg = get_flash(@conn, :success) do %>
        <div class="alert alert-success" role="alert">
          <%= msg %>
        </div>
      <% end %>
      <%= if msg = get_flash(@conn, :error) do %>
        <div class="alert alert-danger" role="alert">
          <%= msg %>
        </div>
      <% end %>

      <!-- content -->
      <%= render @view_module, @view_template, assigns %>
    </div>

    <!-- footer -->
    <footer class="footer text-center">
      <span class="text-primary">built by <b>Ravern Koh &lt;ravern.koh.dev@gmail.com&gt;</b></span>
    </footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
